[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ftfy = "*"
urlcanon = "*"
surt = "*"
tldextract = "*"
pycountry = "*"
python-stdnum = "*"
python-dotenv = "*"

# Future?
#datasette = "*"

[dev-packages]
pytest = "*"
mypy = "*"

# must lock black to an exact version because it is still "beta"
# see: https://github.com/psf/black/issues/517
black = "==19.10b0"

[requires]
python_version = "3.7"
