[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ftfy = "*"
urlcanon = "*"
surt = "*"
tldextract = "*"
pycountry = "==19.8.18"
python-stdnum = "*"
toml = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"
flake8 = "*"
flake8-annotations = "*"
black = "*"
types-toml = "*"
types-requests = "*"

[requires]
python_version = "3.8"
